{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.url == '/' %}
    {% assign canonical = site.url | absolute_url %}
{% else %}
    {% assign canonical = page.url | absolute_url %}
{% endif %}

{% if page.path contains '_posts' %}
    {% assign page_title = page.title %}
    {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 60 %}
{% else %}
    {% assign page_title = site.title %}
    {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 60 %}
{% endif %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.path contains '_posts' %}
        {% unless page.skip_amp %}
            <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
        {% endunless %}
    {% endif %}
    {% seo %}
    <link rel="alternate" type="application/rss+xml"
          title="{{ site.title }} {{ site.title-separator }} {{ site.description }}"
          href="{{ '/feed.xml' | absolute_url }}"/>
    <meta name="google-site-verification" content="R_CNnglyJ8IadsmNrzQGkIY4KcxhcasItmaioKmW6eo" />
    <link href="{{ "/assets/css/site.css" | relative_url }}" rel="stylesheet" type="text/css">
    {% if site.google_tracking_id %}{% include google_analytics.html %}{% endif %}
</head>
<body>
<nav class="container">
    <ul>
        <li><strong><a class="contrast"
                       href="{{ '/' | relative_url }}">{{ site.title }}</a></strong>
        </li>
    </ul>
    <ul>
        <li><a href="{{ '/aboutme' | relative_url }}">About me</a></li>
        <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
    </ul>
</nav>