---
layout: amp
---

<!doctype html>
<html ⚡="" lang="en">
<head>
    <meta charset="utf-8">
    {% seo %}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    {% inline_css assets/css/amp.css %}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>
<nav class="container">
    <ul>
        <li><strong><a class="contrast"
                       href="{{ '/' | relative_url }}">{{ site.title }}</a></strong>
        </li>
    </ul>
    <ul>
        <li><a href="{{ '/aboutme' | relative_url }}">About me</a></li>
        <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
    </ul>
</nav>
<article>
    <hgroup class="container">
        <h1>{{ page.title }}</h1>
        {% unless page.description == "" %}
            <p>{{ page.description }}</p>
        {% endunless %}
        <p>Published {{ page.date | date: "%b %d, %Y" }}
            <img src="https://visitor-badge.laobi.icu/badge?page_id=senorihl.blog.{{ page.title | slugify }}"
                 alt="visitor badge"
                 width="80"
                 height="20"
            /></p>
    </hgroup>

    <div class="container">
        <p>
            {% if page.tags.size > 0 %}
                <span>Tags:</span>
                {% for tag in page.tags %}
                    <a class="Label"
                       href="{{ '/tags' | relative_url }}#{{- tag | slugify -}}">{% octicon tag height: 14 %}
                        &nbsp;{{- tag -}}</a>
                {% endfor %}
            {% endif %}
        </p>
        {% if page.gh-repo %}
            <div class="Box">
                {% assign parts = page.gh-repo | split: '/' %}
                {% assign gh_user = parts[0] %}
                {% assign gh_repo = parts[1] %}
                <p>
                    {% octicon repo height: 20 %}
                    <span class="author"><a href="https://github.com/{{ parts[0] }}" target="_blank"
                                            class="url fn" rel="author">{{ parts[0] }}</a></span>
                    <span class="path-divider">/</span>
                    <strong><a href="https://github.com/{{ parts[0] }}/{{ parts[1] }}"
                               target="_blank">{{ parts[1] }}</a></strong>
                </p>
            </div>
        {% endif %}
        {% for tag in page.tags %}
            {% if tag contains 'AI generated' %}
                <p class="warning">This article is AI generated for testing purpose and should not be considered as accurate.</p>
            {% endif %}
        {% endfor %}
        {{ content | markdownify | amp_images }}
    </div>

</article>

{% if page.previous.url or page.next.url %}
    <section>
        <nav aria-label="Pagination" style="justify-content: center;">
            <div>
                {% if page.next.url %}
                    <a role="button" rel="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">Newer
                        Post</a>
                {% endif %}
                {% if page.previous.url %}
                    <a role="button" rel="prev" href="{{ page.previous.url | relative_url }}"
                       title="{{ page.previous.title }}">Older Post</a>
                {% endif %}
            </div>
        </nav>
    </section>
{% endif %}

{%- assign similar_subjects = "" | split: '' -%}
{% for tag in page.tags %}
    {% assign tag_posts = site.posts | where: 'tags', tag %}
    {% for post in tag_posts %}
        {% if post.url != page.url %}
            {%- assign similar_subjects = similar_subjects | push: post -%}
        {% endif %}
    {% endfor %}
{% endfor %}
{%- assign similar_subjects = similar_subjects | uniq -%}

<section class="container">
    {% if similar_subjects.size > 0 %}
        <p>Read more</p>
        <ul>
            {% for post in similar_subjects %}
                <li><a href="{{ post.url | prepend: '/amp' }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
</body>
</html>