---
layout: compress
---

{% include header.html %}
<article>
    <div class="container">
        <hgroup>
            <h1>{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
            <p>{{ user.bio }}</p>
        </hgroup>


        <ul class="list-inline">
            <li>Found me on:</li>
            {% if user.name %}
                <li>
                    {% octicon mark-github height: 20 fill: white aria-label: GitHub %}
                    <a href="https://github.com/{{ user.login }}">
                        @{{ user.login }}
                    </a>
                </li>
            {% endif %}
            {% if user.email %}
                <li>
                    {% octicon mail height: 20 fill: white aria-label: email %}
                    <a href="mailto:{{ user.email }}">
                        {{ user.email }}
                    </a>
                </li>
            {% endif %}
            {% if site.social_media %}
                {% for account in site.social_media %}
                    <li>
                        {% assign service_shortname = account[0] %}
                        {% assign service = site.data.social_media[service_shortname] %}
                        <a href="{{ service.profile_url_prefix }}{{ account[1] }}"
                           aria-label="{{ service.name }}: {{ account[1] }}">
                            {{ service.icon_svg }}<span style="display: none;">{{ service.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if user.location %}
                <li>
                    {% octicon location height: 20 fill: white aria-label: Location %}
                    {{ user.location }}
                </li>
            {% endif %}
        </ul>
    </div>
</article>

<section class="container">

    {% if site.topics %}
        {% include interests.html %}
    {% endif %}

    {% unless posts_total == 0 %}
        {% include thoughts.html %}
    {% endunless %}
</section>

{% include footer.html %}